<center>
  <div class="jumbotron text-center">
    <h1>Noticias</h1>
    <p>Ingresa con la cuenta de administrador para agregar y editar noticias</p>
    <% if current_user.try(:email) == 'rmsolari@uc.cl' %>
    <%= link_to 'Agregar nueva noticia', new_entry_path %>
    <% end %>
  </div>
<% Entry.order(created_at: :desc).limit(10).each do |entry| %>
<div class="container">
  <p>Por <%= entry.user.email %>, fecha: <%= entry.fecha %></p>
  <div class="jumbotron">
    <h2><%= entry.titulo %></h2>
    <div class="row">
      <div class="col-sm-10"><h5><%= entry.bajada %></h5></div>
    </div>
    <p><%= entry.cuerpo %></p>
    <p>Cantidad de comentarios: <%= entry.comments.count %></p>
    <div class="row">
      <div class="container">
        <% if current_user.try(:email) == 'rmsolari@uc.cl' %>
          <%= link_to 'Mostrar |    ', entry %>
          <%= link_to 'Editar |    ', edit_entry_path(entry) %>
          <%= link_to 'Eliminar', entry, method: :delete, data: { confirm: 'Estás seguro?' } %>
        <% else %>
          <%= link_to 'Mostrar', entry %>
        <% end %>


    </div>
    </div>
  </div>
</div>
<% end %>
